[submodule "vendor/dhall-c"]
	path = vendor/dhall-c
	url = https://github.com/fixpoint-linux/dhall-c.git
	branch = master
[submodule "vendor/datalog-dafsa"]
	path = vendor/datalog-dafsa
	url = https://github.com/fixpoint-linux/datalog-dafsa.git
	branch = main
[submodule "vendor/palisade"]
	path = vendor/palisade
	url = https://github.com/fixpoint-linux/palisade
	branch = main
[submodule "design"]
	path = design
	url = https://github.com/fixpoint-linux/design.git
[submodule "mfe-framework"]
	path = mfe-framework
	url = https://github.com/fixpoint-linux/mfe-framework.git
[submodule "dhake"]
	path = dhake
	url = https://github.com/fixpoint-linux/dhake.git
